
.side{
    width: 25%;
    height: 740px;
    /* height: 100%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    display: none;
    padding: 8px;
    /* border-color: transparent; */
    border: 5px solid transparent;
    
    
}
.bar{
    background-color: #121212;
    height: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-color: transparent; */
    border: 5px solid transparent;
}

.pages{
    display: flex;
    gap: 0.75rem;
    padding-left: 2rem;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-color: transparent;
}
.page,a{
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: gray;
}
b{
    margin-left: 10px;
}

.library{
    background-color: #121212;
    height: 75%;
    border-color: transparent;
    border-color: transparent;

}

.next{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page{
    display: flex;
    gap: 0.60rem;
    align-items: center;

}
.arrows{
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.btn{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: gray;
    /* box-shadow: 2px 2px; */
}
.btn:hover{
    color: white;
    background-color: rgb(24, 23, 23);
    
}
a:hover{
    color: white;

} 

.create{
  padding: 1rem; 
  background-color: #242424;
  margin: 0.5rem; 
  font-weight: 600; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; 
  gap: 0.20rem; 
  padding-left: 1rem;
  border-color: transparent;
}
.create,p{
    
    margin-left: 8px;
    
    font-size: 14px;
}
.btn1{
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.375rem;  
    padding-bottom: 0.375rem; 
    background-color: white; 
    font-size: 15px; 
    color: black; 
    border-radius: 9999px; 
    font-weight:bold ;
    border: none;
    transition: width 0.5s;
}

#btn0:hover{
    width: 133px;
   background-color: rgb(239, 243, 244);
}

#btn1:hover{
    width: 151px;
    background-color: rgb(239, 243, 244);
}

 @media (min-width: 1024px) {
    .side{
      display: flex;
    }
  } 